<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiqia.user.mapper.DoctorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.meiqia.user.entity.Doctor">
        <id column="user_id" property="userId" />
        <result column="card" property="card" />
        <result column="type_id" property="typeId" />
        <result column="adept" property="adept" />
        <result column="seniority" property="seniority" />
        <result column="room_id" property="roomId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, card, type_id, adept, seniority, room_id
    </sql>
    <select id="getPage" resultType="com.meiqia.user.vo.ByRidFindDockVO">
        select l.name AS lName,l.price,d.user_id AS id,u.name,r.`name` AS rName,d.adept  from t_doctor d
        LEFT JOIN t_level l ON d.type_id = l.id
        LEFT JOIN t_user u ON d.user_id = u.id
		LEFT JOIN t_room r ON d.room_id=r.id
		${ew.CustomSqlSegment}
    </select>
</mapper>
